<div *ngFor="let billing of billings; let i=index" class="accordion" id="accordionExample">
    <div *ngIf="billing.firstName && billing.orderStatus == 1" class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                    aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                    {{billing.billingDate* 1000 | date}} Tarihli Sipariş
                </button>
            </h2>
        </div>

        <div [attr.id]="'collapse' + i" class="collapse show" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
                <div class="order">
                    <div class="order-header">
                        <div class="order-header-info">Sipariş Tarihi: <b>{{billing.billingDate* 1000 | date}}</b></div>
                        <!-- <div class="order-header-info">Sipariş Özeti: <b title="1 Teslimat, 4 Ürün">1 Teslimat, 4
                                Ürün</b>
                        </div> -->
                        <div class="order-header-info">Alıcı: <b>{{billing.firstName}} {{billing.lastName}}</b></div>
                        <div class="order-header-info">Tutar: <b class="white">{{billing.totalPrice}} TL</b></div>
                        <div class="order-header-info">Adres: <b class="white">{{billing.address1}}</b></div>
                        <div class="order-header-info">Şehir: <b class="white">{{billing.state}}</b></div>
                        <div *ngFor="let product of billing.products" class="order-header-info">
                            <div class="order-header-info">Ürün: <b class="white">{{product.productName}}</b></div>
                        </div>
                        <div class="order-header-info">Referans Numarası: <b class="white">{{billing.referanceNumber}}</b></div>
                        <div class="order-header-info">Email: <b class="white">{{billing.email}}</b></div>
                        <a (click)="confirmOrder(billing.billingID)"><button type="button"
                                class="btn btn-success">Siparişi
                                Onayla</button></a>
                        <a><button type="button" class="btn btn-danger">Siparişi
                                Reddet</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>